<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kemingxiu.test">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aS68f1ezrrxVZbMGGoLKG3x7HxYmmv7p" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalInfoActivity"
            android:label="@string/title_activity_personal_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BatteryActivity"
            android:label="@string/title_activity_battery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonActivity"
            android:label="@string/title_activity_person"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".Car" />
        <activity android:name=".CarList" />
        <activity
            android:name=".Information"
            android:label="车辆信息"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carposition"
            android:label="车辆位置"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DriverList" />
        <activity
            android:name=".personInformation"
            android:label="司机详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BatteryList" />
        <activity
            android:name=".BatteryInformation"
            android:label="电池详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>